## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## VS / Rider
.vs/
.vscode/
.idea/
*.sln
*.csproj.user

## Publish output
publish/
*.exe
*.dll

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Config (contains secrets)
config.json
